  <div class="row top-row">
    <div class="col-xs-12">
      <a routerLink="/control-panel/apprentices" mat-raised-button color="primary">
        <mat-icon>chevron_left</mat-icon> Go back
      </a>
    </div>
  </div>


<div class="row top-row">
  <div class="col-xs-8">
    <form>
      <div class="row">
        <div class="col-xs-6">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input type="text" matInput [(ngModel)]="apprentice.name" name="name">
          </mat-form-field>
        </div>
        <div class="col-xs-6">
          <mat-form-field appearance="outline">
            <mat-label>Surname</mat-label>
            <input type="text" matInput [(ngModel)]="apprentice.surname" name="surname">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input type="text" matInput [(ngModel)]="apprentice.city" name="city">
          </mat-form-field>
        </div>
        <div class="col-xs-6">
          <mat-form-field appearance="outline">
            <mat-label>Country</mat-label>
            <input type="text" matInput [(ngModel)]="apprentice.country" name="country">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <mat-form-field appearance="outline">
            <mat-label>ClubCardId</mat-label>
            <input type="text" matInput [(ngModel)]="apprentice.clubCardId" name="clubCardId">
          </mat-form-field>
        </div>
        <div class="col-xs-6">
          <mat-form-field appearance="outline">
            <mat-label>DanceGroup</mat-label>
            <input type="text" matInput [(ngModel)]="apprentice.danceGroup" name="danceGroup">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button mat-raised-button color="primary" (click)="onUpdate()" *ngIf="!isNewApprentice">Save</button>
          <button mat-raised-button color="primary" (click)="onCreate()" *ngIf="isNewApprentice">Create</button>
        </div>
      </div>
    </form>
  </div>
  </div>
