@import '../main-info/_colors.scss';

html, body { height: 100%; }


mat-card-title,
      mat-card-content {
        display: flex;
        justify-content: center;
      }


table{
        height: 100px;
}

td{
        height: 40px;
        width: 150px;
        border: gray thin solid;
}

.resize{
        top: 0px;
        width: 150px;
        height: 40px;
        float: left;
        border: #002DA4 thin solid;

        text-align: center;
        border-right-color: red;
        position: absolute;
        overflow: hidden;
        z-index: 1;
}

td.drop
{
        position: relative;
        width: 150px;
        clear:both;
}
