<mat-toolbar color="primary">

    <button mat-fab (click)="drawer.toggle()">
      <mat-icon>home</mat-icon>
    </button>

</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" opened>
    <mat-action-list>
      <a routerLink="lessons" mat-list-item><mat-icon>extension</mat-icon> Lessons</a>
      <a routerLink="teachers" mat-list-item><mat-icon>assignment_ind</mat-icon> Teachers</a>
      <a routerLink="apprentices" mat-list-item><mat-icon>account_circle</mat-icon> Apprentices</a>
      <a routerLink="club-cards" mat-list-item><mat-icon>payment</mat-icon> ClubCards</a>
    </mat-action-list>
  </mat-drawer>
  <mat-drawer-content>
<router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

