@import '../main-info/_colors.scss';

html, body { height: 100%; }


mat-card-title,
      mat-card-content {
        display: flex;
        justify-content: center;
      }

.calendar-container {
  position: relative;
}

table {
  border-collapse: collapse;
  width: 800px;
}

td,
th {
  border: 1px solid #518b70;
  text-align: center;
}

table td {
  height: 25px;
}

.event {
  position: absolute;
  cursor: move;
  box-sizing: border-box;
  background-color: #3ba389;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
