
<mat-toolbar color="primary">
    <button mat-fab (click)="drawer.toggle()">
      <mat-icon>home</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" opened>
    <mat-action-list>
      <a routerLink="lessons" mat-list-item><mat-icon>extension</mat-icon> Lessons</a>
      <a routerLink="teachers" mat-list-item><mat-icon>assignment_ind</mat-icon> Teachers</a>
      <a routerLink="apprentices" mat-list-item><mat-icon>account_circle</mat-icon> Apprentices</a>
      <a routerLink="club-cards" mat-list-item><mat-icon>payment</mat-icon> ClubCards</a>
    </mat-action-list>
  </mat-drawer>
  <mat-drawer-content>

    <div class="calendar-container">
      <table>
        <tr>
          <th></th>
          <th class="cell-place" *ngFor="let place of places">{{ place }}</th>
        </tr>
        <tr *ngFor="let hour of hours">
          <td class="cell-hour">{{ hour }}</td>
          <td *ngFor="let place of places" (dblclick)="modalService.open('modal-1')"></td>
        </tr>
      </table>
      <div *ngFor="let event of events" >
        <div class="event" [ngStyle]="event.position" cdkDrag (cdkDragEnded)="dragEnded(event, $event)">
          <div>{{ event.location }} <br> {{ event.startTime }} <br>-<br> {{ event.endTime }}</div>
        </div>
      </div>
    </div>

    <jw-modal id="modal-1">
      <h1>A custom modal popup</h1>
      <p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p>
      <button (click)="createEvent('8:00 AM', '12:00 PM', 'Monday');modalService.close();">Close</button>
  </jw-modal>

<router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

